*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* HEADER SECTION START  */
.navber_section{
    display: flex;
    justify-content: center;
}
.container{
    width: 1440px;
}
header .navber {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
header .navber h3 {
    font-size: 24px;
    font-weight: 800;
    font-family: Poppins;
    color: #3A3A3A;
}

header .navber .nav li i {
    font-size: 20px;
}

header .navber .nav ul {
    display: flex;
}

header .navber .nav a {
    text-decoration: none;
    padding: 15px;
    color: #000000;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
}

header .navber .nav li {
    list-style: none;
}
.hero_img_bg{
    height: 580px;
    width: 580px;
    border-radius: 50%;
    background-color: #E02C6D;
    opacity: .3;
    animation: hero 1s ease-in-out .5s infinite alternate;
    animation-play-state: running;
}
@keyframes hero{
    0% {
        transform: scale(.8);
        background-color: #E02C6D;
        opacity: .5;
    }
    100% {
        transform: scale(1);
    }
}
.hero_img_bg {
    position: relative;
    top: 0;
}

.hero_img img {
    position: absolute;
    z-index: 1;
    margin-top: 80px;
    margin-left: 70px;
}


/* HEADER SECTION END  */

/* HERO SECTION START  */

.hero_section{
    display: flex;
    justify-content: center;
    margin: 60px 0;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.hero .hero_info h1{
    font-family: Poppins;
    font-weight: bold;
    font-size: 52px;
    color: #3A3A3A;
    width: 70%;
}
.hero .hero_info p{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    width: 60%;
}
.hero .hero_info a{
    background-color: #E02C6D;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
}

/* HERO SECTION END  */

/* BRAND SECTION START  */
.brand_section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}
.brand_section .brand {
    justify-content: space-between;
    display: flex;
}
.brand_section .container{
    width: 1140px;
    border: 1px solid #aaaaaa59;
    padding: 35px 0;
    border-left: 0;
    border-right: 0;
}
/* BRAND SECTION END  */

/* PRODUCTS SECTION START  */

.products_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.products_section .container{
    width: 1240px;
}
.products_section .products_title h1{
    font-family: Poppins;
    font-weight: 600;
    font-size: 45px;
    color: #3A3A3A;
    text-align: center;
    margin: 30px 0;
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.products .product_style h1{
    font-family: Poppins;
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
}
.products .product_style h2 {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #000000;
}

.product_style img {
    width: 100%;
}

.product_style {
    margin: 15px;
    padding: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.products .product_style .rete {
    display: flex;
    align-items: center;
}

.products .product_style .rete span {
    color: orange;
    font-size: 10px;
    margin-right: 15px;
}
.products .product_style > p {
    color: #787885;
    width: 75%;

}
.see_more {
    justify-content: end;
    display: flex;
}

.see_more a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #E02C6DDE;
    margin: 25px;
}
/* PRODUCTS SECTION EDN  */

/* MAP SECTION START  */
.maps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.maps h2 {
    text-align: center;
    font-size: 45px;
    font-family: 'Poppins';
    font-weight: 800;
    margin: 30px 0;
}

.location {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.map {
    width: 50%;
    border-radius: 10px;
}

.maps .map iframe {
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 400px;
}
.map_info p {
    padding: 5px;
    font-size: 20px;
}


/* MAP SECTION END  */

/* FOOTER SECTION START  */

.footer_section{
    background-color: #0A0826;
}
.footer_info h3 {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: bold;
    text-align: center;
}

.footer_info p {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins';
}

.social_icon .icon i {
    color: #ffffff;
    font-size: 26px;
}

.social_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    background-color: #22213C;
    margin: 15px;
    padding: 10px;
    border-radius: 26px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.footer_info {
    padding: 50px;
}
/* FOOTER SECTION END  */